{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{# Header #}
{% block bootstrap5_content %}
<div class="container">
    <p>
        <a href="{% url 'polls:index' %}">home</a> |
        <a href="{% url 'polls:index' %}">polls</a> |
        <a href="{% url 'polls:deepthoughts' %}">deepthoughts</a> |
        <a href="{% url 'polls:deepthoughts_list' %}">list of deep thoughts</a>
    </p>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

{% block content %}
{% block bootstrap5_title %}
    <legend>Latest Poll Question List</legend>
{% endblock %}
{# ------------------------------- #}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{# ----------------------------- #}
{% endblock %}
{# Footer #}
<p> &copy UVA &nbsp;&nbsp;&nbsp           author: Steven Song <p>

</div>
{% endblock %}
